language: php

sudo: required

dist: xenial

php:
    - nightly
    - hhvm

branches:
    only:
        - master
        - /^\d+\.\d+$/
env:
    global:
        - THRIFT_VERSION=0.9.2

matrix:
    fast_finish: true
    include:
        - php: 5.4
          env: SYMFONY_VERSION=2.3.*
        - php: 5.5
          env: SYMFONY_VERSION=2.7.*
        - php: 5.6
          env: SYMFONY_VERSION=3.0.*
        - php: 7.0
          env: SYMFONY_VERSION=3.0.*
        - php: 7.1
          env: SYMFONY_VERSION=3.1.*

allow_failures:
    - php: nightly

cache:
    directories:
        - $HOME/.composer/cache

before_install:
    - travis_retry sudo apt-get update
    - travis_retry sudo apt-get install automake bison flex g++ git libboost1.55-all-dev libevent-dev libssl-dev libtool make pkg-config openjdk-7-jdk php5-dev php5-cli phpunit
    - cd /tmp && (curl http://archive.apache.org/dist/thrift/${THRIFT_VERSION}/thrift-${THRIFT_VERSION}.tar.gz | tar zx) && cd thrift-${THRIFT_VERSION}/ && ./configure --without-qt4 --without-c_glib --without-csharp --without-java --without-erlang --without-python --without-perl --with-php --with-php_extension --without-ruby --without-haskell --without-go --without-d --without-cpp && make && sudo make install && cd ${TRAVIS_BUILD_DIR}
    - if [[ "$TRAVIS_PHP_VERSION" != "5.6" && "$TRAVIS_PHP_VERSION" != "hhvm" ]]; then phpenv config-rm xdebug.ini || true; fi
    - composer selfupdate
    - if [ "$SYMFONY_VERSION" != "" ]; then composer require "symfony/symfony:${SYMFONY_VERSION}" --no-update; fi;
    - composer require "apache/thrift:${THRIFT_VERSION}"

install:
    - composer update --prefer-dist --no-interaction

script: if [ "$TRAVIS_PHP_VERSION" == "5.6" ]; then phpunit -d xdebug.max_nesting_level=1000 --debug --coverage-clover=coverage.clover; else phpunit --debug; fi

#after_script:
#    - if [ "$TRAVIS_PHP_VERSION" == "5.6" ]; then wget https://scrutinizer-ci.com/ocular.phar && php ocular.phar code-coverage:upload --format=php-clover coverage.clover; fi
